In [ ]:
#movielens data set을 이용 {numpy}할때의 실습 문제

#1.사용자가 평가한 모든 영화의 전체 평점
#2.각 사용자별 평균평점
#3.각 영화별 평균 평점 
#4. 가장 평균 평점이 높은 영화의 제목은?(모두출력)
#5. comedy 영화중 평점이 가장 낮은 영화의 제목
#6. 2015년도에 평가된 모든 Romence 영화의 평균평점  timestamp 이용 
#timestamp : 1970년 1월 1일 0시 1초 ->1 , 2초 ->2  
#timestamp 를 데이트로 바꾸는 함수가있음

#7.2014년도에 평가된 Action 영화의 평점을 기준으로 상위 10위 영화 출력(영화의 제목, 오름차순 기준)

In [2]:
#1.사용자가 평가한 모든 영화의 전체 평점

import numpy as np
import pandas as pd

#df = pandas.read_csv('filename.csv', encoding='utf-8')


ratings = pd.read_csv('./data/movie/ratings.csv')
movie = pd.read_csv('./data/movie/movies.csv' )
cols=["각 사용자가 평가한 모든 영화의 전체평점","key"]
i=1
df1 = pd.DataFrame(columns=cols, index=range(1))
display(df1)
print("#1.사용자가 평가한 모든 영화의 전체 평점")
print(ratings["rating"].mean())
df1.iloc[0,0]=ratings["rating"].mean()
df1.iloc[0,1]=1
display(df1)

  각 사용자가 평가한 모든 영화의 전체평점  key
0                    NaN  NaN

#1.사용자가 평가한 모든 영화의 전체 평점
3.501556983616962

  각 사용자가 평가한 모든 영화의 전체평점 key
0                3.50156   1

In [3]:
print("#2.각 사용자별 평균평점")
cols2 = ["각사용자별평균평점", 'c2']
df2 = pd.DataFrame(columns=cols2, index=range(len(ratings["userId"].unique())+1))


for i in ratings["userId"].unique():
    df2.iloc[i,0]=ratings[ratings["movieId"]==i]["rating"].mean()
    df2.iloc[i,1]=i
display(df2)

#2.각 사용자별 평균평점

    각사용자별평균평점   c2
0         NaN  NaN
1     3.92093    1
2     3.43182    2
3     3.25962    3
4     2.35714    4
5     3.07143    5
6     3.94608    6
7     3.18519    7
8       2.875    8
9       3.125    9
10    3.49621   10
11    3.67143   11
12    2.42105   12
13      3.125   13
14    3.83333   14
15          3   15
16    3.92683   16
17    3.77612   17
18        3.7   18
19    2.72727   19
20        2.5   20
21    3.49438   21
22    3.22222   22
23      3.125   23
24      3.125   24
25      3.625   25
26        3.5   26
27    3.33333   27
28    4.22727   28
29    4.01316   29
..        ...  ...
581         4  581
582       NaN  582
583         4  583
584       NaN  584
585   2.73611  585
586   2.99569  586
587   3.43478  587
588   3.79235  588
589   3.97098  589
590   3.83537  590
591       NaN  591
592   3.42857  592
593   4.16129  593
594   3.61688  594
595   3.77055  595
596      3.45  596
597   3.48519  597
598       NaN  598
599   3.81818  599
600         4  600
601       NaN  601
602         4  602
603       NaN  603
604       NaN  604
605         3  605
606         3  606
607       NaN  607
608   4.11602  608
609   3.57143  609
610   3.54545  610

[611 rows x 2 columns]

In [6]:
print("3번 문제")


cols = ["movieId","각 영화별 평균평점","key"]
c1=len(ratings["movieId"].unique())

df3 = pd.DataFrame(columns=cols, index=range(c1+1))


i=0
for j in ratings["movieId"].unique():
    
    df3.iloc[i,0]=j
    df3.iloc[i,1]=ratings[ratings["movieId"]==j]["rating"].mean()
    df3.iloc[i,2]=i
    i=i+1
display(df3)

3번 문제

     movieId 각 영화별 평균평점   key
0          1    3.92093     0
1          3    3.25962     1
2          6    3.94608     2
3         47    3.97537     3
4         50    4.23775     4
5         70    3.50909     5
6        101    3.78261     6
7        110    4.03165     7
8        151    3.54545     8
9        157    2.86364     9
10       163    3.56061    10
11       216    3.32653    11
12       223    3.85577    12
13       231    3.06015    13
14       235    3.67857    14
15       260    4.23108    15
16       296    4.19707    16
17       316      3.375    17
18       333       3.78    18
19       349    3.60455    19
20       356    4.16413    20
21       362    3.52941    21
22       367    3.18471    22
23       423       2.85    23
24       441    3.92857    24
25       457    3.99211    25
26       480       3.75    26
27       500    3.38889    27
28       527      4.225    28
29       543    3.31707    29
...      ...        ...   ...
9695  130050          3  9695
9696  130052        3.5  9696
9697  130840        4.5  9697
9698  133832        3.5  9698
9699  135534        3.5  9699
9700  135803        3.5  9700
9701  135815          4  9701
9702  138610        1.5  9702
9703  138632          5  9703
9704  139511          3  9704
9705  139655          3  9705
9706  140267          4  9706
9707  141400          4  9707
9708  141799        3.5  9708
9709  142366          3  9709
9710  142598          4  9710
9711  145951        0.5  9711
9712  146309          4  9712
9713  147657          4  9713
9714  147662          3  9714
9715  148166        3.5  9715
9716  149011        3.5  9716
9717  152372        3.5  9717
9718  158721        3.5  9718
9719  160341        2.5  9719
9720  160527        4.5  9720
9721  160836          3  9721
9722  163937        3.5  9722
9723  163981        3.5  9723
9724     NaN        NaN   NaN

[9725 rows x 3 columns]

In [7]:
print("4번 문제")

df4=df3
df4["가장 높은평점"]=np.nan
df4["가장평점이 높은 영화"]=np.nan

func = lambda x : x.max()  
#display(df4[["각 영화별 평균평점"]].apply(func,axis=0).values)
print(df4[["각 영화별 평균평점"]].apply(func,axis=0))

df4.loc[0,["가장 높은평점"]]=df4[["각 영화별 평균평점"]].apply(func,axis=0).values

i=0

for k in df4["movieId"][df3["각 영화별 평균평점"] == df4.loc[0,"가장 높은평점"]] :
    df4.loc[i,"가장평점이 높은 영화"] = k
    i=i+1
display(df4)
#print(df3["각 영화별 평균평점"] == df.loc["가장높은평점"])

4번 문제
각 영화별 평균평점    5.0
dtype: float64

     movieId 각 영화별 평균평점   key  가장 높은평점  가장평점이 높은 영화
0          1    3.92093     0      5.0     131724.0
1          3    3.25962     1      NaN       5746.0
2          6    3.94608     2      NaN       6835.0
3         47    3.97537     3      NaN       3851.0
4         50    4.23775     4      NaN       1151.0
5         70    3.50909     5      NaN       1631.0
6        101    3.78261     6      NaN       2075.0
7        110    4.03165     7      NaN     176601.0
8        151    3.54545     8      NaN      92494.0
9        157    2.86364     9      NaN     102217.0
10       163    3.56061    10      NaN      27523.0
11       216    3.32653    11      NaN      67618.0
12       223    3.85577    12      NaN       8804.0
13       231    3.06015    13      NaN      26350.0
14       235    3.67857    14      NaN      31522.0
15       260    4.23108    15      NaN         53.0
16       296    4.19707    16      NaN       1140.0
17       316      3.375    17      NaN       6402.0
18       333       3.78    18      NaN       8238.0
19       349    3.60455    19      NaN      25887.0
20       356    4.16413    20      NaN      34312.0
21       362    3.52941    21      NaN      44851.0
22       367    3.18471    22      NaN      47736.0
23       423       2.85    23      NaN      50999.0
24       441    3.92857    24      NaN      53280.0
25       457    3.99211    25      NaN      53355.0
26       480       3.75    26      NaN      53578.0
27       500    3.38889    27      NaN      60737.0
28       527      4.225    28      NaN      69211.0
29       543    3.31707    29      NaN      69469.0
...      ...        ...   ...      ...          ...
9695  130050          3  9695      NaN          NaN
9696  130052        3.5  9696      NaN          NaN
9697  130840        4.5  9697      NaN          NaN
9698  133832        3.5  9698      NaN          NaN
9699  135534        3.5  9699      NaN          NaN
9700  135803        3.5  9700      NaN          NaN
9701  135815          4  9701      NaN          NaN
9702  138610        1.5  9702      NaN          NaN
9703  138632          5  9703      NaN          NaN
9704  139511          3  9704      NaN          NaN
9705  139655          3  9705      NaN          NaN
9706  140267          4  9706      NaN          NaN
9707  141400          4  9707      NaN          NaN
9708  141799        3.5  9708      NaN          NaN
9709  142366          3  9709      NaN          NaN
9710  142598          4  9710      NaN          NaN
9711  145951        0.5  9711      NaN          NaN
9712  146309          4  9712      NaN          NaN
9713  147657          4  9713      NaN          NaN
9714  147662          3  9714      NaN          NaN
9715  148166        3.5  9715      NaN          NaN
9716  149011        3.5  9716      NaN          NaN
9717  152372        3.5  9717      NaN          NaN
9718  158721        3.5  9718      NaN          NaN
9719  160341        2.5  9719      NaN          NaN
9720  160527        4.5  9720      NaN          NaN
9721  160836          3  9721      NaN          NaN
9722  163937        3.5  9722      NaN          NaN
9723  163981        3.5  9723      NaN          NaN
9724     NaN        NaN   NaN      NaN          NaN

[9725 rows x 5 columns]

###

In [8]:
df5=pd.merge(movie,df4,left_on="movieId",right_on="가장평점이 높은 영화" , how="inner")


display(df5.columns)
display(df5.index)
display(df5["title"])

Index(['movieId_x', 'title', 'genres', 'movieId_y', '각 영화별 평균평점', 'key',
       '가장 높은평점', '가장평점이 높은 영화'],
      dtype='object')

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            286, 287, 288, 289, 290, 291, 292, 293, 294, 295],
           dtype='int64', length=296)

0                                        Lamerica (1994)
1                   Heidi Fleiss: Hollywood Madam (1995)
2                       Awfully Big Adventure, An (1995)
3                                 Live Nude Girls (1995)
4      In the Realm of the Senses (Ai no corrida) (1976)
5                            What Happened Was... (1994)
6              Thin Line Between Love and Hate, A (1996)
7                                 Denise Calls Up (1995)
8         Supercop 2 (Project S) (Chao ji ji hua) (1993)
9      Entertaining Angels: The Dorothy Day Story (1996)
10                                   Lesson Faust (1994)
11                                          Hype! (1996)
12     Vampire in Venice (Nosferatu a Venezia) (Nosfe...
13                                Assignment, The (1997)
14     Four Days in September (O Que É Isso, Companhe...
15                                       Mephisto (1981)
16                                      Knock Off (1998)
17     Ballad of Narayama, The (Narayama bushiko) (1983)
18                                   On the Ropes (1999)
19     Man and a Woman, A (Un homme et une femme) (1966)
20                   Red Sorghum (Hong gao liang) (1987)
21                                 Sandpiper, The (1965)
22                               Babes in Toyland (1934)
23                                 My Man Godfrey (1957)
24     Black Tar Heroin: The Dark End of the Street (...
25     Jonah Who Will Be 25 in the Year 2000 (Jonas q...
26                               Madame Sousatzka (1988)
27                   All the Vermeers in New York (1990)
28                                     Bossa Nova (2000)
29                    Vagabond (Sans toit ni loi) (1985)
                             ...
266        Alesha Popovich and Tugarin the Dragon (2004)
267                            Junior and Karlson (1968)
268                           I Am Not Your Negro (2017)
269                             A Plasticine Crow (1981)
270                          There Once Was a Dog (1982)
271                    Death Note: Desu nôto (2006–2007)
272                  Last Year's Snow Was Falling (1983)
273                 Investigation Held by Kolobki (1986)
274                               Karlson Returns (1970)
275                   Vacations in Prostokvashino (1980)
276                      Winter in Prostokvashino (1984)
277             Priklyucheniya Kapitana Vrungelya (1979)
278                               Tickling Giants (2017)
279          Vovka in the Kingdom of Far Far Away (1965)
280                             A Detective Story (2003)
281                                   Cheburashka (1971)
282                          Wow! A Talking Fish! (1983)
283                             Travels of an Ant (1983)
284                                     Fugitives (1986)
285                                       Empties (2007)
286                                     Obsession (1965)
287                            Gena the Crocodile (1969)
288     On the Trail of the Bremen Town Musicians (1973)
289           In the blue sea, in the white foam. (1984)
290                         Bobik Visiting Barbos (1977)
291                                         Black Mirror
292                                Loving Vincent (2017)
293                                Blue Planet II (2017)
294                              De platte jungle (1978)
295                     Won't You Be My Neighbor? (2018)
Name: title, Length: 296, dtype: object

In [9]:
print("5. comedy 영화중 평점이 가장 낮은 영화의 제목")

movie = pd.read_csv('./data/movie/movies.csv' )

cols3=["코메디영화","코메디영화번호","key2"]
df6=pd.DataFrame(columns=cols3 , index = range(len(movie["movieId"][movie["genres"].str.contains("Comedy")])+1))

i=0


for j in movie["title"][movie["genres"].str.contains("Comedy")] :
    df6.loc[i,"코메디영화"]=j
    df6.loc[i,"key2"]=i
    i=i+1

i=0
for j2 in movie["movieId"][movie["genres"].str.contains("Comedy")] :
    df6.iloc[i,1]=j2
    i=i+1



df7=pd.merge(df3,df6,left_on="movieId",right_on="코메디영화번호" , how="inner")

display(df7.sort_values(by=["각 영화별 평균평점"]))
df7

5. comedy 영화중 평점이 가장 낮은 영화의 제목

,movieId,각 영화별 평균평점,key,가장 높은평점,가장평점이 높은 영화,코메디영화,코메디영화번호,key2
2406,54768,0.5,5756,NaN,NaN,Daddy Day Camp (2007),54768,2489
1434,7312,0.5,3723,NaN,NaN,"Follow Me, Boys! (1966)",7312,1864
2830,26095,0.5,7046,NaN,NaN,"Carabineers, The (Carabiniers, Les) (1963)",26095,2064
2009,165645,0.5,4620,NaN,NaN,Bad Santa 2 (2016),165645,3632
3420,91414,0.5,8666,NaN,NaN,Arthur Christmas (2011),91414,2949
3414,141994,0.5,8645,NaN,NaN,Saving Christmas (2014),141994,3492
3413,135216,0.5,8643,NaN,NaN,The Star Wars Holiday Special (1978),135216,3427
3609,44243,0.5,9153,NaN,NaN,Leprechaun 4: In Space (1997),44243,2340
2832,85334,0.5,7049,NaN,NaN,Hard Ticket to Hawaii (1987),85334,2869
2702,138798,0.5,6539,NaN,NaN,Joe Dirt 2: Beautiful Loser (2015),138798,3460
3364,8632,0.5,8531,NaN,NaN,Secret Society (2002),8632,2001
3559,6557,0.5,9038,NaN,NaN,Born to Be Wild (1995),6557,1683
2685,54934,0.5,6513,NaN,NaN,"Brothers Solomon, The (2007)",54934,2494
2421,31692,0.5,5799,NaN,NaN,Uncle Nino (2003),31692,2178
1968,110773,0.5,4571,NaN,NaN,"Haunted House 2, A (2014)",110773,3213
1334,60363,0.5,3439,NaN,NaN,Zombie Strippers! (2008),60363,2582
2314,175475,0.5,5467,NaN,NaN,The Emoji Movie (2017),175475,3693
2699,134528,0.5,6535,NaN,NaN,Aloha (2015),134528,3419
2742,31422,0.5,6664,NaN,NaN,Are We There Yet? (2005),31422,2173
2875,72696,0.5,7222,NaN,NaN,Old Dogs (2009),72696,2728
3499,122246,0.5,8859,NaN,NaN,Tooth Fairy 2 (2012),122246,3322
1964,104644,0.5,4566,NaN,NaN,Maria Bamford: The Special Special Special! (2...,104644,3143
3591,27595,0.5,9117,NaN,NaN,Jesus Christ Vampire Hunter (2001),27595,2141
3495,25782,0.5,8834,NaN,NaN,Boudu Saved From Drowning (Boudu sauvé des eau...,25782,2050
3497,92681,0.5,8845,NaN,NaN,Journey 2: The Mysterious Island (2012),92681,2970
1179,3774,0.75,3047,NaN,NaN,House Party 2 (1991),3774,1030
2640,4412,0.75,6415,NaN,NaN,"Thing with Two Heads, The (1972)",4412,1201
2408,55292,0.75,5758,NaN,NaN,"Comebacks, The (2007)",55292,2508
2957,4125,0.75,7469,NaN,NaN,Leonard Part 6 (1987),4125,1118
2870,8387,0.8,7212,NaN,NaN,Police Academy: Mission to Moscow (1994),8387,1970
...,...,...,...,...,...,...,...,...
1881,173351,5,4448,NaN,NaN,Wow! A Talking Fish! (1983),173351,3683
1862,138835,5,4403,NaN,NaN,Return to Treasure Island (1988),138835,3461
1883,173963,5,4452,NaN,NaN,Empties (2007),173963,3685
1684,157775,5,4002,NaN,NaN,Tenchi Muyô! In Love (1996),157775,3589
1678,150554,5,3995,NaN,NaN,The Love Bug (1997),150554,3549
1630,132153,5,3944,NaN,NaN,Buzzard (2015),132153,3387
1638,134004,5,3952,NaN,NaN,What Love Is (2007),134004,3408
3380,93320,5,8558,NaN,NaN,Trailer Park Boys (1999),93320,2978
3379,71268,5,8557,NaN,NaN,Tyler Perry's I Can Do Bad All by Myself (2009),71268,2704
1640,134847,5,3954,NaN,NaN,Ghost Graduation (2012),134847,3422
1643,136341,5,3957,NaN,NaN,Scooby-Doo! and the Samurai Sword (2009),136341,3436
1181,1151,5,3053,NaN,NaN,Lesson Faust (1994),1151,322
1644,136353,5,3958,NaN,NaN,Scooby-Doo! and the Loch Ness Monster (2004),136353,3437
1645,136355,5,3959,NaN,NaN,Big Top Scooby-Doo! (2012),136355,3438
1646,136359,5,3960,NaN,NaN,Scooby-Doo Goes Hollywood (1979),136359,3439
1681,156025,5,3999,NaN,NaN,Ice Age: The Great Egg-Scapade (2016),156025,3576
1647,136503,5,3961,NaN,NaN,Tom and Jerry: Shiver Me Whiskers (2006),136503,3445
1650,140133,5,3966,NaN,NaN,Hollywood Chainsaw Hookers (1988),140133,3468
1658,141928,5,3975,NaN,NaN,Bloodsucking Bastards (2015),141928,3491
1660,142444,5,3977,NaN,NaN,The Editor (2015),142444,3497
1663,143031,5,3980,NaN,NaN,Jump In! (2007),143031,3504
1664,143559,5,3981,NaN,NaN,L.A. Slasher (2015),143559,3507
1668,146684,5,3985,NaN,NaN,Cosmic Scrat-tastrophe (2015),146684,3525
1670,147410,5,3987,NaN,NaN,A Perfect Day (2015),147410,3530
1674,149350,5,3991,NaN,NaN,Lumberjack Man (2015),149350,3543
1676,149508,5,3993,NaN,NaN,Spellbound (2011),149508,3546
1677,149566,5,3994,NaN,NaN,Unicorn City (2012),149566,3547
3367,88448,5,8537,NaN,NaN,Paper Birds (Pájaros de papel) (2010),88448,2918
1876,165959,5,4433,NaN,NaN,Alesha Popovich and Tugarin the Dragon (2004),165959,3634
3753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
c1=ratings["movieId"].unique() # 영화id 중복처리 한 값
c2=len(ratings["movieId"].unique())# 영화id 중복처리 한 값의 개수
c3=ratings["movieId"].max() #영화id 중 제일 큰수

cols = ["movieId","각 영화별 평균평점","key"]
df3 = pd.DataFrame(columns=cols, index=range(c2))
df3.loc[0,"영화의 전체 평점"]=ratings["rating"].mean()

print(ratings["movieId"].unique())

[     1      3      6 ... 160836 163937 163981]

In [333]:
#6. 2015년도에 평가된 모든 Romence 영화의 평균평점  timestamp 이용 
#timestamp : 1970년 1월 1일 0시 1초 ->1 , 2초 ->2  
#timestamp 를 데이트로 바꾸는 함수가있음

#timestamp 
start=1420070400
end=1451606399


df8=ratings.loc[(1451606399>=ratings["timestamp"]) & (ratings["timestamp"]>=1420070400)]
df9=movie.loc[movie["genres"].str.contains("Romance")]

df10=pd.merge(df8,df9,left_on="movieId",right_on="movieId" , how="left")
# df10["key"]=np.nan
# i=0
# for j in df10["movieId"].unique():
#     df10.loc[i,"key"]=j
#     i=i+1
display(df9)
display(df8)
display(df10)
pd.merge(df10,df3,left_on="movieId",right_on="movieId" , how="left")


# display(type(df10.iloc[0,1]))
# print(df10.iloc[0,1])
# display(type(df3.iloc[0,0]))
# print(df3.iloc[1,0])
# display(df10)
# display(df3)

#display(df10.columns)
#df11=pd.merge(df3,df10,left_on="movieId",right_on="movieId" , how="inner")

#df11=pd.merge(df10,df3,left_on="key",right_on="movieId" , how="inner")
#df7=pd.merge(df3,df6,left_on="movieId",right_on="코메디영화번호" , how="inner")
#df11

,movieId,title,genres
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
6,7,Sabrina (1995),Comedy|Romance
10,11,"American President, The (1995)",Comedy|Drama|Romance
14,15,Cutthroat Island (1995),Action|Adventure|Romance
16,17,Sense and Sensibility (1995),Drama|Romance
24,25,Leaving Las Vegas (1995),Drama|Romance
27,28,Persuasion (1995),Drama|Romance
35,39,Clueless (1995),Comedy|Romance
42,46,How to Make an American Quilt (1995),Drama|Romance
44,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
45,49,When Night Is Falling (1995),Drama|Romance
47,52,Mighty Aphrodite (1995),Comedy|Drama|Romance
52,58,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance
57,64,Two if by Sea (1996),Comedy|Romance
60,68,French Twist (Gazon maudit) (1995),Comedy|Romance
66,74,Bed of Roses (1996),Drama|Romance
73,81,Things to Do in Denver When You're Dead (1995),Crime|Drama|Romance
75,83,Once Upon a Time... When We Were Colored (1995),Drama|Romance
76,85,Angels and Insects (1995),Drama|Romance
82,93,Vampire in Brooklyn (1995),Comedy|Horror|Romance
83,94,Beautiful Girls (1996),Comedy|Drama|Romance
89,101,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
93,105,"Bridges of Madison County, The (1995)",Drama|Romance
103,118,If Lucy Fell (1996),Comedy|Romance
106,122,Boomerang (1992),Comedy|Romance
107,123,Chungking Express (Chung Hing sam lam) (1994),Drama|Mystery|Romance
111,129,Pie in the Sky (1996),Comedy|Romance
115,140,Up Close and Personal (1996),Drama|Romance
124,151,Rob Roy (1995),Action|Drama|Romance|War
...,...,...,...
9189,149830,Pride and Prejudice and Zombies (2016),Comedy|Horror|Romance|Thriller
9230,152284,War and Peace (2016),Drama|Romance
9247,155509,Mr. Right (2016),Action|Comedy|Romance
9270,157130,Despite the Falling Snow (2016),Drama|Romance|Thriller
9293,158783,The Handmaiden (2016),Drama|Romance|Thriller
9299,158882,All Yours (2016),Comedy|Drama|Romance
9308,159193,Café Society (2016),Comedy|Drama|Romance
9310,159415,Swiss Army Man (2016),Comedy|Drama|Romance
9370,162590,Bridget Jones's Baby (2016),Comedy|Romance
9381,163134,Your Name. (2016),Animation|Drama|Fantasy|Romance
9399,164647,Dirty 30 (2016),Comedy|Romance
9402,164753,Anything for Love (2016),Romance
9404,164909,La La Land (2016),Comedy|Drama|Romance
9429,166291,A Silent Voice (2016),Animation|Drama|Romance
9437,166635,Passengers (2016),Adventure|Drama|Romance|Sci-Fi
9466,168326,The Big Sick (2017),Comedy|Romance
9469,168366,Beauty and the Beast (2017),Fantasy|Romance
9472,168492,Call Me by Your Name (2017),Drama|Romance
9476,168712,Fifty Shades Darker (2017),Drama|Romance
9489,170355,Mulholland Dr. (1999),Drama|Mystery|Romance
9529,172229,Plain Clothes (1988),Comedy|Mystery|Romance|Thriller
9530,172233,The Prime Gig (2000),Drama|Romance
9612,176621,Boniface's Holiday (1965),Animation|Children|Comedy|Romance
9622,177939,"The Night Is Short, Walk on Girl (2017)",Animation|Romance
9628,178615,Front Cover (2016),Comedy|Drama|Romance
9639,179511,Emerald Green (2016),Adventure|Drama|Fantasy|Romance
9660,181315,Phantom Thread (2017),Drama|Romance
9691,184349,Elsa & Fred (2005),Comedy|Drama|Romance
9715,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance
9725,190207,Tilt (2011),Drama|Romance

       userId  movieId  rating   timestamp
232         2      318     3.0  1445714835
233         2      333     4.0  1445715029
234         2     1704     4.5  1445715228
235         2     3578     4.0  1445714885
236         2     6874     4.0  1445714952
237         2     8798     3.5  1445714960
238         2    46970     4.0  1445715013
239         2    48516     4.0  1445715064
240         2    58559     4.5  1445715141
241         2    60756     5.0  1445714980
242         2    68157     4.5  1445715154
243         2    71535     3.0  1445714974
244         2    74458     4.0  1445714926
245         2    77455     3.0  1445714941
246         2    79132     4.0  1445714841
247         2    80489     4.5  1445715340
248         2    80906     5.0  1445715172
249         2    86345     4.0  1445715166
250         2    89774     5.0  1445715189
251         2    91529     3.5  1445714891
252         2    91658     2.5  1445714938
253         2    99114     3.5  1445714874
254         2   106782     5.0  1445714966
255         2   109487     3.0  1445715145
256         2   112552     4.0  1445714882
257         2   114060     2.0  1445715276
258         2   115713     3.5  1445714854
259         2   122882     5.0  1445715272
260         2   131724     5.0  1445714851
3230       21      293     3.0  1436989949
...       ...      ...     ...         ...
92620     598   114265     5.0  1430616754
92621     598   124851     5.0  1430616773
92622     598   130490     5.0  1430616732
95866     601       50     5.0  1441639169
95867     601      318     5.0  1441639169
95868     601      527     5.0  1441639169
95869     601      858     5.0  1441639429
95880     601     1221     4.5  1441639465
95881     601     1262     4.5  1441639454
95887     601     2019     4.5  1441639457
95888     601     2028     5.0  1441639463
95891     601     2571     5.0  1441639169
95893     601     2959     5.0  1441639461
95897     601     4226     5.0  1441639866
95899     601     4886     5.0  1441639868
95900     601     4963     4.5  1441639875
95901     601     4993     5.0  1441639520
95902     601     4995     4.0  1441639880
95903     601     5445     4.0  1441639872
95905     601     5952     5.0  1441639519
95907     601     5989     4.5  1441639889
95909     601     6377     5.0  1441639871
95910     601     7153     5.0  1441639521
95911     601     7361     4.5  1441639878
95912     601     8961     5.0  1441639891
95936     601    79132     5.0  1441639524
95947     601   109487     5.0  1441639184
95948     601   112556     4.0  1441639189
95951     601   116797     4.0  1441639186
95955     601   141846     4.0  1441639208

[6616 rows x 4 columns]

,userId,movieId,rating,timestamp,title,genres
0,2,318,3.0,1445714835,NaN,NaN
1,2,333,4.0,1445715029,NaN,NaN
2,2,1704,4.5,1445715228,Good Will Hunting (1997),Drama|Romance
3,2,3578,4.0,1445714885,NaN,NaN
4,2,6874,4.0,1445714952,NaN,NaN
5,2,8798,3.5,1445714960,NaN,NaN
6,2,46970,4.0,1445715013,NaN,NaN
7,2,48516,4.0,1445715064,NaN,NaN
8,2,58559,4.5,1445715141,NaN,NaN
9,2,60756,5.0,1445714980,NaN,NaN
10,2,68157,4.5,1445715154,NaN,NaN
11,2,71535,3.0,1445714974,NaN,NaN
12,2,74458,4.0,1445714926,NaN,NaN
13,2,77455,3.0,1445714941,NaN,NaN
14,2,79132,4.0,1445714841,NaN,NaN
15,2,80489,4.5,1445715340,NaN,NaN
16,2,80906,5.0,1445715172,NaN,NaN
17,2,86345,4.0,1445715166,NaN,NaN
18,2,89774,5.0,1445715189,NaN,NaN
19,2,91529,3.5,1445714891,NaN,NaN
20,2,91658,2.5,1445714938,NaN,NaN
21,2,99114,3.5,1445714874,NaN,NaN
22,2,106782,5.0,1445714966,NaN,NaN
23,2,109487,3.0,1445715145,NaN,NaN
24,2,112552,4.0,1445714882,NaN,NaN
25,2,114060,2.0,1445715276,NaN,NaN
26,2,115713,3.5,1445714854,NaN,NaN
27,2,122882,5.0,1445715272,NaN,NaN
28,2,131724,5.0,1445714851,NaN,NaN
29,21,293,3.0,1436989949,NaN,NaN
...,...,...,...,...,...,...
6586,598,114265,5.0,1430616754,Laggies (2014),Comedy|Romance
6587,598,124851,5.0,1430616773,Delirium (2014),Adventure|Romance|Sci-Fi
6588,598,130490,5.0,1430616732,NaN,NaN
6589,601,50,5.0,1441639169,NaN,NaN
6590,601,318,5.0,1441639169,NaN,NaN
6591,601,527,5.0,1441639169,NaN,NaN
6592,601,858,5.0,1441639429,NaN,NaN
6593,601,1221,4.5,1441639465,NaN,NaN
6594,601,1262,4.5,1441639454,NaN,NaN
6595,601,2019,4.5,1441639457,NaN,NaN
6596,601,2028,5.0,1441639463,NaN,NaN
6597,601,2571,5.0,1441639169,NaN,NaN
6598,601,2959,5.0,1441639461,NaN,NaN
6599,601,4226,5.0,1441639866,NaN,NaN
6600,601,4886,5.0,1441639868,NaN,NaN
6601,601,4963,4.5,1441639875,NaN,NaN
6602,601,4993,5.0,1441639520,NaN,NaN
6603,601,4995,4.0,1441639880,"Beautiful Mind, A (2001)",Drama|Romance
6604,601,5445,4.0,1441639872,NaN,NaN
6605,601,5952,5.0,1441639519,NaN,NaN
6606,601,5989,4.5,1441639889,NaN,NaN
6607,601,6377,5.0,1441639871,NaN,NaN
6608,601,7153,5.0,1441639521,NaN,NaN
6609,601,7361,4.5,1441639878,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
6610,601,8961,5.0,1441639891,NaN,NaN
6611,601,79132,5.0,1441639524,NaN,NaN
6612,601,109487,5.0,1441639184,NaN,NaN
6613,601,112556,4.0,1441639189,NaN,NaN
6614,601,116797,4.0,1441639186,NaN,NaN
6615,601,141846,4.0,1441639208,NaN,NaN

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [1]:
df8=ratings.loc[(1451606399>=ratings["timestamp"]) & (ratings["timestamp"]>=1420070400)]
df9=movie.loc[movie["genres"].str.contains("Romance")]

df10=pd.merge(df8,df9,left_on="movieId",right_on="movieId" , how="left")
df10["key"]=np.nan


display(df10)
display(df3)
#df11=pd.merge(df10,df3,left_on="movieId",right_on="movieId" , how="left")

NameError: name 'ratings' is not defined