In [15]:
#문제 

#공식부터 
#데이터프레임

import numpy as np
import pandas as pd
import math 

data= { "a":["0.1","0.05","0.025","0.01","0.005"],
        "z":[1.28,1.645,1.96,2.33,2.58]
      }

cols=["a","z"]
df = pd.DataFrame(data, columns=cols, index=range(5))
display(df)
b=input("유의수준 입력")

c=df.loc[df["a"]==b ,"z"]

print(c)

#c = df.loc[df["a"] ==b,"z"]

stand=float(input("표준편차 입력"))
number=float(input("표본"))
mean=float(input("초기값"))

x= math.sqrt(number)

#z=(cv-mean)/(stand/x)

cv=(c*(stand/x))+mean

print(cv)

       a      z
0    0.1  1.280
1   0.05  1.645
2  0.025  1.960
3   0.01  2.330
4  0.005  2.580

유의수준 입력0.05
1    1.645
Name: z, dtype: float64
표준편차 입력12
표본100
초기값150
1    151.974
Name: z, dtype: float64

In [ ]:
#